.nitro-chat-input-container {
    display: flex
;
    align-items: center;
    position: relative;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background: #f4f4f4;
    background: repeating-linear-gradient(#f4f4f4, #f4f4f4 50%, #e2e2e2 50%, #e2e2e2 100%);
    box-shadow: inset 0 0 0 1px #fff;
    padding-right: 10px;
    width: 100%;
    gap: 2px;

    .chat-input {
        border: 0;
        background: transparent;
        outline: none;
        width: 100%;
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        position: absolute;
        bottom: 70px;
        left: calc(100% / 3);
        width: 200px;
    }

    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;
        
        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }
        
        &::after {
            content: attr(data-value) '  ';
            visibility: hidden;
            white-space: pre-wrap;
        }
    }

    .bubble-container {
        visibility: visible;
        width: 75%;
    }

    .toolbar-chat-styles {
        height: 100%;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #60606040;
        border-right: 1px solid rgba(96, 96, 96, .5);

        &:hover {
            filter: brightness(1.2);
        }
    }
}

.nitro-chat-style-selector-container {
    width: $chat-input-style-selector-widget-width;
    max-height: $chat-input-style-selector-widget-height;

    .content-area {
        max-height: $chat-input-style-selector-widget-height !important;
    }

    .bubble-parent-container {
        height: 30px;

        .bubble-container {
            position: relative;
            width: 50px;
        }
    }
}

.hub-emoji-picker {
    background: #c1cbd7;
    box-shadow: inset 0 0 0 1px #e9edf1, 0 2px #28282854;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .layout-grid-item {
        font-size: 33px;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        z-index: 3;

        &.layout-inner {
            &.active {
                background-color: #93a4b9;
                box-shadow: inset 0 1px #0003, 0 1px #e9edf1;
                border: 1px solid #647d9b;
                cursor: pointer;
            }

            &:hover {
                background-color: #93a4b9;
                box-shadow: inset 0 1px #0003, 0 1px #e9edf1;
                border: 1px solid #647d9b;
                cursor: pointer;
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        height: 13px;
        width: 13px;
        transform: rotate(45deg);
        background-color: #c1cbd7;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        box-shadow: inset 0 -1px #e9edf1, inset -1px 0 #e9edf1;
    }

    .Alt-Codes .layout-grid-item {
        font-size: 1.03125rem;
        color: #000;
    }
}
