.nitro-use-product-confirmation {
    width: 350px;

    .product-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 122px;
        height: 130px;
        background: url('@/assets/images/room-widgets/avatar-info/preview-background.png') no-repeat center;

        .pet-image {
            width: 122px;
            height: 130px;
        }

        .monsterplant-image {
            width: 122px;
            height: 130px;
            background: url('@/assets/images/room-widgets/furni-context-menu/monsterplant-preview.png') no-repeat center;
        }
    }
}

.nitro-infostand-container {
    position: absolute;
    right: 10px;
    bottom: $toolbar-height + 15px;
    pointer-events: all;
    z-index: $infostand-zindex;
    color: $white;

    .nitro-card-header-text {
        max-width: 160px;
    }

    .nitro-infostand {
        position:relative;
        max-width: 190px;
        min-width: 170px;
        z-index:30;
        pointer-events:auto;

        .infostand-icon-left {
            min-width:23px;
            max-width:23px;
            min-height:23px;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;

            &>* {
                filter:drop-shadow(0px 2px rgba(0,0,0,.15))
            }
        }

        .form-control-sm {
            height:25px;
            min-height:25px;
            padding:.1rem .25rem
        }

        .body-image {
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:#2d2d2d;
            width:100%;
            max-width:68px;
            border-radius:.2rem;

            &.pet {
                max-width: 75px;
            }

            &.bot {
                background-image: url('@/assets/images/infostand/bot_background.png');
                background-repeat: no-repeat;
                background-position: center;
            }

            &.furni {
                background-color: transparent;
                margin-right: 0;
            }
        }

        .body-image-plant {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 68px;
            height: 85px;
            max-height: 90px;
            border-radius: $border-radius;
        }

        .badge-image {
            width: 45px;
            height: 45px;
        }

        .motto-content {
            min-height: 18px;
        }

        .motto-input {
            width:100%;
            height:100%;
            font-size:12px;
            padding:0;
            outline:0;
            border:0;
            color:#fff;
            position:relative;
            background:transparent;
            resize:none

            &:focus {
                font-style: italic;
            }
        }

        .flex-tags
        {
            flex-wrap: wrap;
            margin-bottom: -10px;

            .text-tags
            {
                padding: 2px;
                border-radius: 3px;
                background: #333;
                margin-right: 5px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }

    .button-container {
        pointer-events: auto;
    }

    .pet-stats {
        height: 18px;
    }
}
