.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;
    min-width: $inventory-width;
    min-height: $inventory-height;

    .badge-image {
        width: 40px!important;
        height: 40px!important;
    }

    .empty-image {
        background: url('@/assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .room-preview-image {
        background-position: unset;
    }
}
