.nitro-room-tools-container {
    position: absolute;
    bottom: $toolbar-height + 20px;
    left: 10px;
    height: 62px;
    transition: bottom .3s ease;

    * {
        transition: all .3s ease;
    }

    .nitro-room-tools {
        background: #3A3A3A;
        box-shadow: inset 0 0 0 1px #606060;
        border: 1px solid black;
        transition: all .3s ease;
        transform: translateX(0);
        transition:all .3s ease;
        z-index: 2;
        border-radius: .2rem;
        padding: 2px;
        min-height: 62px;
        display: flex;
        overflow: hidden;

        * {
            transition: all .3s ease;
        }

        .nitro-room-tools-toggle {
            z-index: 1;
            flex-shrink: 0;
        }

        .tools-content {
            display: flex;
            flex-shrink: 0;
            opacity: 1;
        }

        &.hidden {
            gap: .5px;

            &>div:nth-of-type(2) {
                max-width: 0;
                opacity: 0;
                padding: 0 !important;
            }
        }

        &>div:nth-of-type(2) {
            max-width: 800px;
            opacity: 1;
            overflow: hidden;
        }

        .rt-btn-grp {
            border: 1px solid black;
            border-radius: .14rem;
            background: #3A3A3A;
            box-shadow: inset 0 0 0 1px #606060;
            padding: 2px;
            min-height: 27px;
            max-height: 27px;
            min-width: 27px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                filter: brightness(0.7);
            }
        }

        * {
            transition: all .3s ease;
        }

        .rt-room-name {
            width: 254px;
            white-space: nowrap;
        }

        .list-group-item {
            background: transparent;
            padding: 3px 0px;
            color: $white;
            border-color: rgba($black, 0.3);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                padding-top: 8px;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 8px;
            }

            .tools-item {
                .icon {
                    width: 22px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .nitro-room-tools-info {
        background: rgba($dark, .95);
        box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
        transition: all .2s ease;
        max-width: 250px;
    }
}

.wordquiz-question {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    background: rgba($dark, 0.95);
    box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
    border-radius: $border-radius;
    transition: all 0.2s ease;
    z-index: $quiz-zindex;

    .question {
        max-width: 300px;
    }
}

.word-quiz-dislike {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down.png');
    width: 31px;
    height: 34px;
}

.word-quiz-like {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up.png');
    width: 31px;
    height: 34px;
}

.word-quiz-dislike-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down-small.png');
    width: 22px;
    height: 22px;
}

.word-quiz-like-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up-small.png');
    height: 22px;
    width: 22px;
}

.nitro-widget-doorbell {
    width: $nitro-doorbell-width;
    height: $nitro-doorbell-height;
}

@import './avatar-info/AvatarInfoWidgetView';
@import './chat/ChatWidgetView';
@import './chat-input/ChatInputView';
@import './choosers/ChooserWidgetView';
@import './context-menu/ContextMenu';
@import './friend-request/FriendRequestDialogView';
@import './furniture/FurnitureWidgets';
@import './mysterybox/MysteryBoxExtensionView';
@import './pet-package/PetPackageWidgetView';
