.nitro-toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 55px;
    z-index: 70;
    pointer-events: all;
    background: #3A3A3A;
    box-shadow: inset 0 0 0 1px #606060;
    border: 1px solid black;
    border-radius: .2rem;
    padding: 2px;
    transition: max-width .3s ease, opacity .3s ease, padding .3s ease, transform .3s ease;

    * {
        transition: max-width .3s ease, opacity .3s ease, padding .3s ease, transform .3s ease;
    }

    .toolbar-navigation-list {
        max-width: 800px;
        opacity: 1;
    }

    &.collapsed {
        .toolbar-navigation-list {
            max-width: 0;
            opacity: 0;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .navigation-item {
        position: relative;

        &.item-avatar {
            width: 50px;
            height: 45px;
            overflow: hidden;

            .avatar-image {
                margin-left: -5px;
                margin-top: 43px;
            }
        }

        &:hover {
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
            filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
        }

        &.active,
        &:active {
            -webkit-transform: unset;
            transform: unset;
            filter: none;
        }
    }
}

#toolbar-chat-input-container {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 470px;
    transition: bottom .3s ease;

    @include media-breakpoint-down(sm) {
        width: 0px;
        height: 0px;
    }
}

.bg-hubGrey1D {
    --bs-bg-opacity: 1;
    --bs-hubGrey1D-rgb: 45, 45, 45;
    background-color: rgba(var(--bs-hubGrey1D-rgb), var(--bs-bg-opacity)) !important;

    &:nth-of-type(1) {
        border-radius: 0rem 0 0 0rem;
    }
}

.nitro-toolbar-me {
    position: absolute;
    bottom: 66px;
    left: 120px;
    z-index: $toolbar-memenu-zindex;
    background: rgba(20, 20, 20, .95);
    border: 1px solid #101010;
    box-shadow: inset 2px 2px rgba(255, 255, 255, .1), inset -2px -2px rgba(255, 255, 255, .1);
    border-radius: $border-radius;

    .navigation-item {
        transition: filter .2s ease-out;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1))
    drop-shadow(-2px 1px 0 rgba($white, 1))
    drop-shadow(0 -2px 0 rgba($white, 1));
}
