.nitro-hotel-view {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	color:#fff;

	&.filtered {
		filter: brightness(.4) contrast(1.2) saturate(2);
	}

	.hotelview-filtered {

		.avatar-image {
			filter: brightness(.6) contrast(1.2) saturate(2);
		}

		.welcome-message {
			filter: brightness(.6) contrast(1.2) saturate(2);
		}

		.sun {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.drape {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.left {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.right-repeat {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.crossroads {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.grass {
			filter: brightness(.4) contrast(1.2) saturate(2);
		}

		.car {
			filter: brightness(.6) contrast(1.2) saturate(2);
		}
	}


	.avatar-image {
		bottom: 205px;
		background-position: 232px 681px;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-position: center;
		background-size: cover;
	}

	.drape {
		width: 100%;
		height: 100%;
		left: 100px;
		top: 0;
		animation-iteration-count: 1;
		animation-name: slideDown;
		animation-duration: 1s;
		z-index: 3;
		background-repeat: no-repeat;
	}

	.user-container {
		position: absolute;
		z-index: 5;
	}

	.grass {
		background: url('@/assets/images/landingview/grass.png') !important;
		width: 100%;
		height: 100%;
	}

	.crossroads {
		background: url('@/assets/images/landingview/crossroads.png');
		width: 2227px;
		height: 1144px;
	}

	.night-windows {
		background: url('@/assets/images/landingview/windows.png');
		width: 653px;
		height: 329px;
		top: 0px;
    	z-index: 4;
	}
	
	.left-normal {
		background: url('@/assets/images/landingview/left_normal.png');
		width: 1613px;
		height: 807px;
	}

	.overlay {
		background: url('@/assets/images/landingview/overlay.png');
		width: 1613px;
		height: 807px;
	}

	.text-welcome-message {
		padding: 10px 10px 10px 66px;
		background: rgba(255, 255, 255, 0.8);
		border-radius: 15px;
		width: 230px;

		.subtitle {
			font-size: 10px;
		}
	}

	.car {
		position: absolute;
		z-index: 99;
	}

	.welcome-message {
		z-index: 1 !important;
		width: 100%;
		position: absolute;
		bottom: 416px;
		left: 240px;
		height: 81px;
	}

	.sun {
		background-image: url('@/assets/images/landingview/overlay.png') !important;
		width: 1613px;
		height: 807px;
		top: 0px;
		left: 0px;
		z-index: 5;
		position: relative !important;
		margin: auto;
		background-repeat: no-repeat;
		background-position: top center;
	}

	.left {
		background-image: url('@/assets/images/landingview/left_normal.png') !important;
		background: no-repeat;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 3;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
	}

	.right {
		width: 100vw;
		height: 200vh;
		top: 0;
		position: inherit;
		z-index: 2;
		animation-iteration-count: 1;
		animation-name: slideUp;
		animation-duration: 1s;
		background-repeat: no-repeat;
		background-position: 44px 160px;

		&.crossroads {
			z-index: 100;
		}

		&.grass {
			z-index: 1;
		}
	}

	.right-repeat {
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		background-repeat: no-repeat;
		background-position: right top;
	}

	.landing-widgets {
		z-index: 9;
		position: relative;

	}

	.widget-slot {
		z-index: 9;
	}

	hr {
		background: $black;
		box-shadow: 0 1px rgba($white,.5);
		opacity: 0.5
	}
}

@import './views/widgets/HotelViewWidgets';
@import './views/widgets/new-landing/CarAnimationView';
