.nitro-context-menu {
    background-color: #3a3a3a;
    border: 1px solid $black;
    box-shadow: inset 0 0 0 1px #606060;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    z-index: $context-menu-zindex;
    pointer-events: all;

    &.bot-chat {
        max-width: 250px;
        width: 250px;
    }

    &.name-only {
        background-color: rgba($black, 0.5);
        padding: 1px 8px;
        width: unset;
        text-align: center;
        font-size: 18px;

        &.is-friend {
            background-color: rgba($green, 0.5);
        }
    }

    &:not(.name-only):not(.menu-hidden) {
        min-width: 125px;
    }

    &:not(.name-only) {
        &:after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            margin: auto;
            height: 13px;
            width: 13px;
            transform: rotate(45deg);
            background-color: #3a3a3a;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            box-shadow: inset 0 -1px #606060, inset -1px 0 #606060;
        }
    }

    .menu-header {
        color: $white;
        min-width: 110px;
        height: 25px;
        max-height: 25px;
        font-size: .825rem;
        border-bottom: 1px solid $black;
        box-shadow: inset 0 -1px #606060;
    }

    &.menu-hidden {
        .menu-footer {
            padding-top: 2px;
            padding-bottom: 0;
        }
    }

    .menu-footer {
        color: $white;
        padding-bottom: 2px;
        font-size: 1.03125rem;
        width: 100%;
        min-width: 25px;
        cursor: pointer;
        border-top: 1px solid black;
        box-shadow: inset 0 1px #606060;
    }

    .menu-list-split-3 {

        .menu-item {

            &:not(:nth-child(3n)) {
                border-right: 1px solid #141414;
                box-shadow: inset -1px 0 #3a3a3a;
            }

            &:last-child {
                border-bottom: 1px solid #141414;
            }
        }
    }

    .menu-item {
        position: relative;
        padding: 3px;
        overflow: hidden;

        &:not(:last-child) {
            border-bottom: 1px solid #141414;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.disabled {
            filter: brightness(0.7);
            cursor: not-allowed !important;
        }

        &.list-item {
            height: 24px;
            max-height: 24px;
            padding: 3px;
            background: repeating-linear-gradient(#2d2d2d, #2d2d2d 50%, #212121 50%, #212121 100%);
            cursor: pointer;
            border-left: 1px solid #3A3A3A;
            border-right: 1px solid #3A3A3A;

            &:not(.disabled):hover {
                background: $bg-cello-split-background;
            }

            .fa-icon,
            .nitro-currency-icon {
                position: absolute;
                right: 8px;

                &.left {
                    left: 8px;
                    right: unset;
                }

                &.center {
                    position: unset;
                    right: unset;
                    left: unset;
                }
            }
        }
    }
}
