.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
}

.car {
  position: absolute;
  z-index: 5;
  width: 154px;
  height: 106px;
  animation: drive 15s linear infinite;
}

.car-image, .car-background {
  background: url('@/assets/images/landingview/car/car.png');
  position: absolute;
  top: 0;
  right: 0;
  width: 154px;
  height: 106px;
}

.car-background {
  z-index: 4;
  background: url('@/assets/images/landingview/car/car-multi.png') no-repeat center center;
  background-size: 100% 100%;

  &.white {
    filter: none !important;
  }

  &.black {
    background: url('@/assets/images/landingview/car/car-black.png') no-repeat center center;
  }

  &.red {
    background: url('@/assets/images/landingview/car/car-red.png') no-repeat center center;
  }

  &.yellow {
    background: url('@/assets/images/landingview/car/car-yellow.png') no-repeat center center;
  }

  &.blue {
    background: url('@/assets/images/landingview/car/car-blue.png') no-repeat center center;
  }

  &.green {
    background: url('@/assets/images/landingview/car/car-green.png') no-repeat center center;
  }
}

@keyframes drive {
  from {
    transform: translate(100vw, -50vh);
  }
  to {
    transform: translate(-25vh, 63vh);
  }
}
