$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 30px;

.nitro-card {
    resize: both;

    @include media-breakpoint-down(lg) {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    .nitro-card-header {
        min-height: 29px;
        transition: background .3s ease;
    }

    &.theme-primary {
        border: 1px solid black;

        .nitro-card-header {
            position: relative;
            padding: 5px;
            background: repeating-linear-gradient(#1E7295, #1E7295 50%, #1a6280 50%, #1a6280 100%);
            width: 100%;
            margin: 0;
            box-shadow: inset 0 0 0 1px #299ccc;
            border-radius: .14rem .14rem 0 0;
            border-bottom: 1px solid #0b3648;

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0 4px 4px rgba(0,0,0,.25);
                @include font-size($h6-font-size);
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 2px;
                height: 18px;
                width: 18px;
                line-height: 1;
                background: #e04937;
                border-radius: .14rem;
                box-shadow: 0 0 0 1px #7c130d;
                border: 1px solid #e04937;
                background: repeating-linear-gradient(#b82d1d, #b82d1d 50%, #a22819 50%, #a22819 100%);
                top: 5px;
                right: 5px;

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(.8);;
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 1px 2px;
                line-height: 1;
                margin-right: 5px;
                border-radius: 0.08rem;
                background: #e04937;
                border-radius: 0.14rem;
                box-shadow: 0 0 0 1px #7c130d;
                border: 1px solid #e04937;
                background: repeating-linear-gradient(#b82d1d, #b82d1d 50%, #a22819 50%, #a22819 100%);

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            height: 30px;
            flex-shrink: 0;

            .nav-item {
                padding: $nav-link-padding-y $nav-link-padding-x;
                background-color: $muted;
                color: $black;
                z-index: 1;
                margin-bottom: -1px;

                &.active {
                    background-color: $light;
                    border-color: $border-color $border-color $light !important;
                    border-bottom: 1px solid black;

                    &:before {
                        background: $white;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #c2c9d1;
                    z-index: 1;
                }
            }
        }

        .content-area {
            border-radius: 0 0 .14rem .14rem;
            background-color: #dfdfdf;
            box-shadow: inset 1px 0 #fff, inset -1px 0 #fff, inset 0 -1px #fff;
            color: #000;
        }
    }

    &.theme-primary-slim {
        border: 1px solid black;

        .nitro-card-header {
            position: relative;
            padding: 5px;
            background: repeating-linear-gradient(#474747, #474747 50%, #333333 50%, #333333 100%);
            width: 100%;
            margin: 0;
            box-shadow: inset 0 0 0 1px #666666;
            border-radius: 0.14rem 0.14rem 0 0;
            border-bottom: 1px solid #000000;

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0 4px 4px rgba(0,0,0,.25);
                @include font-size($h6-font-size);
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 2px;
                height: 18px;
                width: 18px;
                line-height: 1;
                background: #e04937;
                border-radius: .14rem;
                box-shadow: 0 0 0 1px #7c130d;
                border: 1px solid #e04937;
                background: repeating-linear-gradient(#b82d1d, #b82d1d 50%, #a22819 50%, #a22819 100%);
                top: 5px;
                right: 5px;

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(.8);;
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 1px 2px;
                line-height: 1;
                margin-right: 5px;
                border-radius: 0.08rem;
                background: #e04937;
                border-radius: 0.14rem;
                box-shadow: 0 0 0 1px #7c130d;
                border: 1px solid #e04937;
                background: repeating-linear-gradient(#b82d1d, #b82d1d 50%, #a22819 50%, #a22819 100%);

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            height: 30px;
            flex-shrink: 0;

            .nav-item {
                padding: $nav-link-padding-y $nav-link-padding-x;
                background-color: $muted;
                color: $black;
                z-index: 1;
                margin-bottom: -1px;

                &.active {
                    background-color: $light;
                    border-color: $border-color $border-color $light !important;
                    border-bottom: 1px solid black;

                    &:before {
                        background: $white;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #c2c9d1;
                    z-index: 1;
                }
            }
        }

        .content-area {
            border-radius: 0 0 .14rem .14rem;
            background-color: #dfdfdf;
            box-shadow: inset 1px 0 #fff, inset -1px 0 #fff, inset 0 -1px #fff;
            color: #000;
        }
    }
}

.content-area {
    height: 100%;
    padding: 0.25rem;
    overflow: auto;
    transition: background .3s ease !important;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.nitro-card * {
    transition: color .1s ease
}

.nitro-card-header {
    position: relative;
}

.nitro-card-tabs {
    height: 100%;
    min-height: $nitro-card-tabs-height;
    max-height: $nitro-card-tabs-height;
    flex-shrink: 0;
}

.nitro-card-accordion-set {

    &.active {
        height: 100%;
        overflow: hidden;
        background: rgba($white, 0.5);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    .nitro-card-accordion-set-header {
        border-bottom: 1px solid rgba($black, 0.2);
    }
}
