.nitro-friends-spritesheet {
    background: url('@/assets/images/friends/friends-spritesheet.png') transparent no-repeat;

    &.icon-friendbar-visit {
        width: 21px; height: 21px;
        background-position: -38px -5px;
    }

    &.icon-heart {
        width: 15px;
        height: 16px;
        background-position: -7px -67px;
    }

    &.icon-new-message {
        width: 14px; height: 14px;
        background-position: -96px -53px;
    }

    &.icon-none {
        width: 15px; height: 16px;
        background-position: -33px -67px;
    }

    &.icon-profile {
        width: 21px; height: 21px;
        background-position: -5px -36px;
    }

    &.icon-profile-sm {
        width: 17px;
        height: 16px;
        background-position: -51px -91px;

        &:hover {
            filter: brightness(1.1);
        }
    }

    &.icon-smile {    
        width: 15px;
        height: 16px;
        background-position: -59px -67px;
    }

    &.icon-warning {
        width: 23px; height: 21px;
        background-position: -5px -5px;
    }

    &.icon-accept {
        width: 13px; height: 14px;
        background-position: -5px -91px;
    }

    &.icon-add {
        width: 16px;
        height: 16px;
        background-position: -69px -31px;
    }

    &.icon-bobba {
        width: 15px;
        height: 16px;
        background-position: -98px -5px;
    }

    &.icon-chat {
        width: 19px; height: 17px;
        background-position: -68px -5px;
    }

    &.icon-deny {
        width: 13px; height: 14px;
        background-position: -28px -91px;
    }

    &.icon-follow {
        width: 17px; height: 17px;
        background-position: -96px -26px;
    }

    &.icon-friendbar-chat {
        background: url('@/assets/images/friends/friends-spritesheet.png') transparent no-repeat;
        width: 20px; height: 21px;
        background-position: -36px -36px;
    }
}

@keyframes animate-open {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.messenger-notification-icon {
    background: url('@/assets/images/friends/messenger_notification_icon.png') transparent no-repeat;
    width: 25px; height: 25px;
}

.nitro-friends {
    width: $friends-list-width;
    height: $friends-list-height;
    min-width: $friends-list-width;
    max-width: $friends-list-width;
    min-height: $friends-list-height;

    .search-input {
        border: 0;
        background: #dfdfdf;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .nitro-card-accordion-set {
            animation: animate-accordion-height 0.3s ease-in-out;

        &.accordion-blue {
            .nitro-card-accordion-set-header{
                background:repeating-linear-gradient(#8ADAFF,#8ADAFF 50%,#59BFFF 50%,#59BFFF 100%);
                border-bottom:1px solid #6FAFCC;
            }
        }

        &.accordion-grey {
            .nitro-card-accordion-set-header{
                background:repeating-linear-gradient(#d5d5d5,#d5d5d5 50%,#b7b7b7 50%,#b7b7b7 100%);
                border-bottom:1px solid #626262;
            }
        }

        &.accordion-dark-grey {
            .nitro-card-accordion-set-header{
                background:repeating-linear-gradient(#6b6b6b,#6b6b6b 50%,#555555 50%,#555555 100%);
                color:#fff!important;
            }
        }

        &.accordion-orange {
            .nitro-card-accordion-set-header{
                background:repeating-linear-gradient(#f0973a,#f0973a 50%,#e67e11 50%,#e67e11 100%);
                border-bottom:1px solid #333333;
                color:#fff!important;
            }
        }

        .nitro-card-accordion-set-content {
            overflow-y: scroll !important;
            animation: animate-open .3s ease-in-out;

            & > div:nth-child(even) {
                background-color: #dfdfdf;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 13px;

        &:horizontal {
            height: 13px;
        }

        &:not(:horizontal) {
            width: 13px;
        }
    }

    ::-webkit-scrollbar-track {
        background-image: url("@/assets/images/card/friendlist-track.png");
    }

    ::-webkit-scrollbar-thumb {
        background-image: url("@/assets/images/card/friendlist-track-thumb1.png"), url("@/assets/images/card/friendlist-track-thumb2.png"), url("@/assets/images/card/friendlist-track-thumb3.png");
        background-repeat: no-repeat, no-repeat, repeat-y;
        background-position: 0 0, bottom, 0 7px;

        &:active {
            background-image: url("@/assets/images/card/friendlist-track-active-thumb1.png"), url("@/assets/images/card/friendlist-track-active-thumb2.png"), url("@/assets/images/card/friendlist-track-active-thumb3.png");
        }
    }


    ::-webkit-scrollbar-button {
        &:vertical {
            &:start {
                &:decrement {
                    height: 16px;
                    display: block;
                    background-image: url(@/assets/images/card/friendlist_tracker.png);

                    &:active {
                        background-image: url(@/assets/images/card/friendlist_tracker-active.png);
                    }
                }
            }

            &:end {
                &:increment {
                    background-image: url(@/assets/images/card/friendlist_tracker.png);
                    background-position-y: 16px;
                    height: 16px;
                    display: block;

                    &:active {
                        background-image: url(@/assets/images/card/friendlist_tracker-active.png);
                    }
                }
            }
        }
    }
}

.nitro-friends-room-invite {
    width: $friends-list-width;
}

.nitro-friends-remove-confirmation {
    width: $friends-list-width;
}

.btn-dark{
    color:#fff;
    background:repeating-linear-gradient(rgb(40,40,40),rgb(40,40,40) 50%,#1b1b1b 50%,#1b1b1b 100%);
    border-color:#000;
    box-shadow:inset 0 0 0 1px #494949;
    border-bottom-width:2px;

    &:hover{
        color:#fff;
        filter:brightness(1.2);
    }
}


.btn-hubGrey1 {
    color: #fff;
    background: repeating-linear-gradient(#3A3A3A, #3A3A3A 50%, #2d2d2d 50%, #2d2d2d 100%);
    box-shadow: inset 0 0 0 1px #5b5b5b;
    border-radius: .14rem;
    padding: .375rem .75rem;
    border: 1px solid #0f0f0f;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;

    &:hover {
        color: #fff;
        filter: brightness(1.2);
    }

    &:active {
        color: #fff;
        filter: brightness(.9);
        box-shadow: inset 0 0 0 2px #5b5b5b;
    }
}

.btn-hubGrey3 {
    color: #fff;
    background: repeating-linear-gradient(#595959, #595959 50%, #4c4c4c 50%, #4c4c4c 100%);
    border-color: #2e2e2e;
    box-shadow: inset 0 0 0 1px #7a7a7a !important;
    font-size: .721875rem;
    border-radius: .14rem;

    &:hover {
        color: #fff;
        filter: brightness(1.2);
    }

    &:active {
        color: #fff;
        filter: brightness(.9);
        box-shadow: inset 0 0 0 2px #7a7a7a;
    }
}

.friend-bar {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 55px;
    background: #3A3A3A;
    box-shadow: inset 0 0 0 1px #606060;
    border: 1px solid black;
    border-radius: .2rem;
    padding: 2px;
    z-index: 70;
    display: flex;

    .navigation-item {
        position: relative;

        &:hover {
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
            filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
        }

        &.active,
        &:active {
            -webkit-transform: unset;
            transform: unset;
            filter: none;
        }
    }

    * {
        transition: max-width .3s ease, opacity .3s ease, padding .3s ease, transform .3s ease;
    }

    .friend-bar-inner {
        padding: 2px;
        max-width: 336px;
        transition: max-width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

    &.collapsed {
        .friend-bar-inner {
            max-width: 0;
            pointer-events: none;
            opacity: 0;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .friend-bar-button {
        z-index: 2;
        padding: 0;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .friend-bar-item {
        width: 130px;
        z-index: 0;
        position: relative;
        text-align: left;
        cursor: pointer;
        flex-shrink: 0;

        &:not(.friend-bar-search) {
            border: 1px solid #002904;
            box-shadow: inset 0 0 0 1px #00c211;
            background: repeating-linear-gradient(#00800b, #00800b 50%, #006709 50%, #006709 100%);
            padding: .375rem .75rem;
            font-size: .825rem;
            border-radius: .14rem;
            padding-left: 40px;

            &:hover {
                filter: brightness(1.2);
            }
        }

        &.friend-bar-item-active {
            margin-bottom:21px;

            &:hover {
                filter: brightness(1) !important;
            }
        }

        .friend-bar-item-head {
            &.avatar {
                top: -33px;
                left: -28px;
                overflow: hidden;
            }

            &.group {
                top: -5px;
                left: -5px;
            }

            .avatar-image {

                &.avatar-expanded {
                    transition: height 0.2s ease-out;
                    height: 84px !important;
                }

                &.avatar-no-expanded {
                    height: 63px !important;
                }
            }

            pointer-events: none;
        }

        &.friend-bar-search {
            .friend-bar-item-head {
                pointer-events: none;
            }
        }
    }

    .friend-bar-item-menu {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        z-index: 10;

        background: #4a4a4a;
        border: 1px solid #000;
        box-shadow: inset 0 0 0 1px #606060;
        border-radius: .2rem;
        padding: 8px;
        justify-content: space-between;
    }
}

.nitro-friends-messenger {
    width: $messenger-width;
    height: $messenger-height;
    min-width: $messenger-width;
    min-height: $messenger-height;

    .layout-grid-item {
        min-height: 50px;
    }

    .friend-head {
        width: 50px;
        height: 45px;
        overflow: hidden;

        .avatar-image {
            margin-top: 90px;
        }
    }

    .open-chat-entry {
        position: relative;
        border: 2px solid;
        border-color: $light;

        &.active {
            border-color: #fffde9;
            background-color: #ececec
        }

        .friend-head {
            width: 45px;
            height: 45px;
            overflow: hidden;

            .avatar-image {
                position: absolute;
                margin-left: -27px;
                margin-top: -27px;
            }
        }
    }

    .chat-title {
        margin-top: -21px;
    }

    .chat-messages {
        overflow-y: auto;

        .message-avatar {
            position: relative;
            overflow: hidden;
            width: 50px;
            height: 50px;

            .avatar-image {
                position: absolute;
                margin-left: -22px;
                margin-top: -25px;
            }
        }

        .messages-group-left {
            position: relative;

            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-right: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                left: -8px;
            }
        }

        .messages-group-right {
            position: relative;

            &:before {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-left: 8px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                top: 10px;
                right: -8px;
            }
        }
    }
}
