.nitro-loading {
    position: relative;
    background: $hubGrey1;
    z-index: 100;

    .nitro-progress-bar{
        border-color:transparent;
        border-width:0px;
        height:42px;
        background-color:transparent;
        border-radius:0;
        padding:0;
        box-shadow:inset 0 0 0 2px #212529;

        .nitro-progress-bar-inner{
            background: $hubGrey1;
            position:relative;
            border-radius:0;
            border:2px solid #212529;

             &:before{
                content:"";
                border:2px solid $hubGrey1L;
                position:absolute;
                left:0;
                right:0;
                bottom:4px;
                top:0;
                margin:2px;
            }

            &:after {
                content:"";
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                height:4px;
                background-color:#212529;
                border-left:2px solid #212529;
                border-right:2px solid #212529
            }
        }
    }

    .connecting-duck {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
        background: url('@/assets/images/loading/connecting-duck-spritesheet.png') no-repeat top left;
        width: 235px;
        height: 127px;
        animation: 1.5s connecting-duck infinite step-end;
        transform: scale(0.5);
    }

    .nitro-logo {
        width: 47px;
        height: 65px;
        background: transparent url('https://assets.nitrodev.co/logos/react-loader.png') no-repeat center;
        z-index: 1;
    }
}

@keyframes connecting-duck {
    0% {
        background-position: 0 0;
        width: 235px;
        height: 127px;
    }

    15% {
        background-position: 0 -132px;
        width: 280px;
        height: 151px;
    }

    30% {
        background-position: 0 -288px;
        width: 326px;
        height: 174px;
    }

    45% {
        background-position: 0 -467px;
        width: 235px;
        height: 127px;
    }

    60% {
        background-position: 0 -599px;
        width: 280px;
        height: 151px;
    }

    75% {
        background-position: 0 -755px;
        width: 326px;
        height: 174px;
    }

    90% {
        background-position: 0 -934px;
        width: 190px;
        height: 104px;
    }
}
