.nitro-navigator {
    width: $navigator-width;
    min-width: $navigator-width;
    height: $navigator-height;
    min-height: $navigator-height;

    .search-button {
        position: relative;
        right: 1px;
        background: repeating-linear-gradient(#1E7295, #1E7295 50%, #1a6280 50%, #1a6280 100%);
        border: 1px solid #114155;
        box-shadow: inset 0 0 0 1px #299ccc;
        padding: 3px 5px;
        border-radius: 0 .14rem .14rem 0;
    }

    .navigator-grid {

        .navigator-item {

            .badge {
                width: 35px;
                min-width: 35px;
            }
        }

        &:not(.two-columns) {

            .navigator-item {
    
                &:nth-child(odd) {
                    background-color: $grid-active-bg-color;
                }
            }
        }
    
        &.two-columns {
    
            .navigator-item {
        
                &:nth-child(4n-2),
                &:nth-child(4n-3) {
                    background: $grid-active-bg-color;
                }
            }
        }
    }
}

.room-creator {
    width: $creator-width;
    height: $creator-height;
}

.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 250px;
}

.nitro-room-info {
    width: $room-info-width;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 400px;

    .list-container {
        height: 100px;

        .list-item {
            background-color: $grid-active-bg-color;
        }
    }
}

.room-info {
    width: 275px;
}
